:root {
  /* Colours */
  --color-bg: #6b9476; /* page background /*

  /* Header */
  --color-head-bg: #f4eded;

  /* Logotype */
  --color-logotype-bg: #3a3a3a;
  --color-text-logotype: #f4eded;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #6b9476;
  /* Links */
  --color-link-bg: #f4eded;
  --color-link-hover: #fff; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 20px;

  /* Headlines og rubrik */
  --font-h1-size: 2rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #9c9289;
  --color-headline-text-page: #f4eded;

  /* Tekst */
  --color-text: #142d17;
  --color-text-inverted: #142d17;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #f4eded;
  --color-cta-card-bg: #d5d2d0;
  /* news-cards */
  --color-news-bg: #dbdad4;
  --color-news-bg-inverted: #9c9289;
  --color-cta-newscard-bg: #f4eded;
  --color-cta-newscard-bg-inverted: #f4eded;

  /* Fonts */
  --font-family-sans: "Outfit", ui-sans-serif;
  --font-weight-regular: 400;
  /* --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700; */

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #f4eded;
  --color-infobox-1-bg: #cfcec6;
  --color-infobox-2-bg: #969995;
}
